:root {
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
  --veryDarkBlue: hsl(240, 100%, 5%);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 2rem 0;
}

body {
  background: var(--offWhite);
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  width: 50%;
  padding-right: 2rem;
}

h2 {
  font-size: 38px;
  color: var(--softOrange);
}

p {
  font-size: 15px;
  line-height: 1.8em;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.navbar {
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

#mobile-menu,
#mobile-menu-close,
.hero-img-mobile {
  display: none;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  text-transform: capitalize;
}

.nav-list a,
.hero-text p,
.article p {
  color: var(--darkGrayishBlue);
}

.primary-section {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.hero {
  grid-column: span 2;
}

.hero-img {
  width: 100%;
  margin-bottom: 2rem;
}

.hero-content {
  gap: 2rem;
}

.hero-text {
  width: 50%;
}

.hero-text p {
  margin-bottom: 2rem;
}

.btn {
  display: block;
  background: var(--softRed);
  width: max-content;
  padding: 1em 2em;
  text-transform: uppercase;
  color: var(--offWhite);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

.new-articles-aside {
  background-color: var(--veryDarkBlue);
  color: var(--offWhite);
  padding: 1.5rem;
}

.new-article {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--darkGrayishBlue);
}

.new-article h4 {
  font-size: 18px;
  margin-bottom: 1em;
}

.new-article p {
  color: var(--grayishBlue);
}

.new-article:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.articles-section {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.article {
  gap: 1.5em;
  align-items: flex-start;
}

.article h4 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.article-img {
  width: 100px;
  min-width: 100px;
}

.article-number {
  font-size: 30px;
  font-weight: 700;
  color: var(--grayishBlue);
  display: block;
  margin-bottom: 0.5em;
}

.nav-list a:hover {
  color: var(--softRed);
}

.btn:hover {
  background: var(--veryDarkBlue);
}

.new-article h4:hover {
  color: var(--softOrange);
}

.article h4:hover {
  color: var(--softRed);
}

@media (max-width: 1024px) {
  .primary-section,
  .articles-section,
  .hero-content {
    display: block;
  }
  h1 {
    width: 100%;
    margin-bottom: 2rem;
  }
  .hero-text {
    width: 100%;
    margin-bottom: 4rem;
  }
  .new-articles-aside {
    margin-bottom: 1rem;
  }
  .article {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 70%;
    background-color: var(--offWhite);
    padding: 2.5rem 10%;
    box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.5);
  }
  #mobile-menu,
  #mobile-menu-close {
    display: block;
  }
  #mobile-menu-close {
    width: min-content;
    margin-left: auto;
  }
  .nav-list {
    display: block;
    padding-top: 4rem;
  }
  .nav-list li {
    font-size: 20px;
    margin-bottom: 1.5em;
  }
  .nav-list li a {
    color: var(--veryDarkBlue);
  }
  .lock-scroll {
    overflow: hidden;
  }
}

@media (max-width: 425px) {
  .container {
    width: 90%;
  }
  .hero-img-desktop {
    display: none;
  }
  .hero-img-mobile {
    display: block;
  }
}